.reviews-container {
    padding: 20px;
  }
  
  .reviews-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .review-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .review-card h3 {
    margin: 0 0 10px;
  }
  
  .review-card p {
    margin: 5px 0;
  }
  
  .review-rating {
    margin: 10px 0;
  }
  
  .edit-button {
    
    background-color: rgb(252, 252, 252);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .edit-button:hover {
    background-color: #e0e0e1;
  }
  
  .edit-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(248, 2, 2, 0.3);
    width: 100%;
    max-width: 400px;
    z-index: 1000;
  }
  
  .edit-form-container h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-group textarea {
    resize: vertical;
    height: 100px;
  }
  
  button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #218838;
  }

  .star {
    font-size: 20px; 
    margin: 0 2px; 
  }
  
  .full-star {
    color: gold; 
  }
  
  .half-star {
    color: orange; 
  }
  
  .empty-star {
    color: lightgray; 
  }
  
  .delete-button {
    background-color: rgb(252, 252, 252);
    color: white;
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
    
  }
  .fa-trash{
    color: #de1010;
  }
  
  .delete-button:hover {
    background-color: rgb(245, 245, 245);
  }
  
  .fa-edit{
    color: #6f6e6e;
  }
  